@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap");
@import "tailwindcss";

@plugin "@iconify/tailwind4" {
  prefix: "iconify";
}

/* === RESET STYLES === */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* === COLOR VARIABLES === */
:root {
  --color-black: #000000;
  --color-black-01: #373737;
  --color-gray: #8a8a8a;
  --color-white-01: #e5e5e5;
  --color-white: #ffffff;
  --color-critical-danger: #d32f2f;

  --background: var(--color-black);
  --foreground: var(--color-white);
}

/* === FONT THEME === */
@theme {
  --color-black: #000000;
  --color-black-01: #373737;
  --color-gray: #8a8a8a;
  --color-white-01: #e5e5e5;
  --color-white: #ffffff;
  --color-critical-danger: #d32f2f;

  --font-sans: Arial, Helvetica, sans-serif;
  --font-heading: "Orbitron", sans-serif;
}

/* === DARK MODE === */
@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-black);
    --foreground: var(--color-white);
  }
}

/* === BODY STYLING === */
body {
  background-color: var(--background);
  color: var(--foreground);
}

/* === HEADING STYLES === */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

p {
  font-size: 16px;
}

/* === PANEL STYLES FOR DASHBOARD === */
.dashboard-panel {
  @apply w-full h-full p-4 flex items-center justify-center text-center 
         bg-black/0  backdrop-blur-sm;
}

.dashboard-panel-left {
  @apply border-r border-white/50;
}

.dashboard-panel-right {
  @apply border-l border-white/50;
}

/* === Google Maps Attribution Position Override (Allowed) === */
.gmnoprint {
  opacity: 0.1; /* Optional: makes it less prominent but still visible */
}
