.alert-marker {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: auto;
  cursor: pointer;
}

.diamond {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.base {
  background-color: var(--color-critical-danger);
  width: 20px;
  height: 20px;
  box-shadow: 0 0 20px 12px #d32f2fcc;
  border: none;
}

.diamond-1,
.diamond-2 {
  background: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.diamond-1 {
  width: 24px;
  height: 24px;
  z-index: 0;
  border: 1px solid var(--color-critical-danger);
  transition: transform 0.1s ease;
}

.diamond-2 {
  width: 28px;
  height: 28px;
  z-index: 0;
  border: 0.5px solid var(--color-critical-danger);
  transition: transform 0.15s ease-out;
  z-index: 2;
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Orbitron, sans-serif;
  font-size: 24px;
  color: white;
  z-index: 2;
  user-select: none;
}

/* Hover and press animation */
.alert-marker:hover .diamond-1 {
  transform: translate(-50%, -50%) scale(1.1) rotate(45deg);
}

.alert-marker:hover .diamond-2 {
  transform: translate(-50%, -50%) scale(1.2) rotate(45deg);
}

.alert-marker:active .diamond-1,
.alert-marker:active .diamond-2 {
  transform: translate(-50%, -50%) scale(0.8) rotate(45deg);
  transition: transform 0.1s ease-in;
}
